body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #9b9b9b;
    background-color: #eee;
    z-index: 1;
}

.header__title {
    font-size: 1.2rem;
    line-height: 64px;
    text-align: center;
}